/*-------------------------------------------------------
                                  IMPORTs
---------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Marvel|Shadows+Into+Light');

/*-------------------------------------------------------
                                  VARs
---------------------------------------------------------*/

$bgColor: #fff;
$accent: #c99065;
$accent-light: #e1c184;
$skillColor: $accent;
$fontMain: Marvel, sans-serif;
$fontAlt: 'Shadows Into Light', sans-serif;
$fontAlt2: 'Helvetica neue', sans-serif;

/*-------------------------------------------------------
                                  MIXINs
---------------------------------------------------------*/
@mixin prefix($property, $value, $vendors: webkit moz ms o) {
      @if $vendors {
        @each $vendor in $vendors {
          #{"-" + $vendor + "-" + $property}: #{$value};
        }
      }
      #{$property}: #{$value};
}

@mixin textStyle ($ff, $fs, $fw) {
  font-family: $ff;
  font-size: $fs;
  font-weight: $fw;
  text-transform: uppercase;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin order($o) {
  order: $o;
}

@mixin bgDefault($bg) {
  background: url($bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin position($val, $t, $r, $b, $l) {
  position: $val;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

/*-------------------------------------------------------
                              UNIVERSAL
---------------------------------------------------------*/

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-------------------------------------------------------
                                HEADER
---------------------------------------------------------*/

header {
  height: 450px;
  @include bgDefault('../img/valley.jpeg')

  .logo {
    float: left;
    margin: 10px 0 0 30px;

    @include size(50px, 50px);

    .svg {
      fill: rgba(0,0,0,0.4);
    }
  }

  nav {
    float: right;
    margin: 30px 30px 0 0;

    a {
      display: inline-block;
      margin-left: 20px;

      text-decoration: none;
      color: rgba(0,0,0,0.45);
      @include textStyle ($fontMain, 14px, 700);

      &:hover {
        color: rgba(0,0,0,1.0);
      }
    }
  }

  h1 {
    text-align: center;

    @include textStyle ('times new roman', 72px, 700);
    color: $bgColor;
    letter-spacing: 0.05em;

    margin-bottom: 20px;
    padding-top: 100px;
    clear: both;

    span {
      display: inline-block;
      padding: 0.2em 0.5em;
      border: $bgColor solid 10px;
    }
  }

  .kicker {
    text-align: center;
    @include textStyle ($fontMain, 14px, 700);
    letter-spacing: 0.05em;
    line-height: 1;
    color: $bgColor;
  }
}

/*-------------------------------------------------------
                                CONTENT
---------------------------------------------------------*/

#about-section {
  h3 {
    @include textStyle ($fontMain, 16px, 700);
    color: $accent-light;
    text-align: center;
    padding: 100px 0 30px;
  }

  .face-block {
    max-width: 780px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;

    .face-img {
      background: url(../img/norm8020.png);
      background-size: cover;
      @include size(200px, 200px);
      @include order(3);
    }

    [class^="icon-"] {
      fill: $accent;

      &.icon-pencil {
        @include order(1);
      }

      &.icon-mouse {
        @include order(2);
      }

      &.icon-browser {
        @include order(4);
      }

      &.icon-video {
        @include order(5);
      }

      svg {
        @include size(50px, 50px);
      }
    }
  }

  @media screen and (max-width: 650px) {
    .face-block {
      display: block;
      text-align: center;

      div {
        display: inline-block;
        margin: 0 24px;
      }

      .face-img {
        display: block;
        margin: 0 auto;
      }
    }
  }

  @media screen and (max-width: 420px) {
    .face-block {
      div {
        margin: 0 10px;
      }
    }
  }

  .blurb {
    max-width: 620px;
    padding: 0 15px;
    margin: 50px auto;
    text-align: center;
    @include textStyle($fontMain, 20px, 300);
  }

  .skill-block {
    max-width: 540px;
    margin: 100px auto;
    color: #999;
    overflow: hidden;
    text-align: center;

    .skill-unit {
      width: 270px;
      float: left;
    }

    .skill-icons {
      font-size: 0;
      margin: 0 0 30px;

      span {
        display: inline-block;
        @include size(14px, 14px);
        background-color: $accent;
        margin-right: 10px;
        border-radius: 50%;

        &:after {
          content: ' ';
          display: block;
          @include size(10px, 10px);
          background: #fff;
          border-radius: 50%;
          margin: 2px;
        }
      }

      @for $i from 1 through 10 {
        &.level-#{$i} span:nth-child(n+#{$i+1}) {
          background: #aaa;
        }
      }
    }
  }

  @media screen and (max-width: 560px) {
    .skill-block {
      width: 270px;
    }
  }
}

#work-section {
  background: $bgColor;
  text-align: center;
  overflow: hidden;

  h3 {
    @include textStyle($fontAlt, 16px, 700);
    color: $accent;
    padding: 18px;
  }

  .work-belt {
    width: 200%;
    position: relative;
    left: -100%;
  }

  .thumb-wrap, .work-wrap {
    width: 50%;
    float: left;
  }

  .thumb-container {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 100px;
    overflow: hidden;

    .thumb-unit {
      display: block;
      width: 25%;
      padding-top: 16%;
      float: left;
      position: relative;
      overflow: hidden;

      @media screen and (max-width: 540px) {
        width: 50%;
        padding-top: 26%;
      }

      .thumb-overlay {
        @include position(absolute, 100%, 0px, null, 0px);
        height: 100%;
        background: fade-out($accent, 0.1);
        transition: top 0.3s;
        display: flex;
        align-items: center;
        justify-content: space-around;

        strong {
          display: block;
          padding: 0 20px;
          @include textStyle($fontAlt, 20px, 700);
          color: $bgColor;
        }
      }

      &:hover .thumb-overlay {
        @include position(absolute, 0%, 0px, null, 0px);
      }
    }

    .a {
      @include bgDefault('../img/ticket1-2yh37p4wt2m8h9a260x88w.jpg');
    }

    .b {
      @include bgDefault('../img/404-2yh34mov5w3pmm5qllevi8.png');
    }

    .c {
      @include bgDefault('../img/HC-2yh3678dtjyg8g21xelxq8.jpg');
    }

    .d {
      @include bgDefault('../img/pp1-2yh37ab5ijq0jj76pt3uv4.jpg');
    }

    .e {
      @include bgDefault('../img/wilderness-2yh37v617479vl3wnlspa8.png');
    }

    .f {
      @include bgDefault('../img/eames-2yh35o4tx2xtt2ljdqi9s0.png');
    }

    .g {
      @include bgDefault('../img/riverrat-2yh37bkdxh1wc0nwkgyeww.jpg');
    }

    .h {
      @include bgDefault('../img/bivouac2-2yh34qu4xjoxc7sib6iigw.png');
    }
  }

  .work-container {
    max-width: 600px;
    margin: 0 auto;

    h4 {
      @include textStyle($fontMain, 24px, 300);
      color: $accent;
      line-height: 1.2;
      margin: 0 0 20px;
    }

    div {
      max-width: 100%;
      margin-bottom: 24px;
    }
  }
}

/*-------------------------------------------------------
                                  FOOTER
---------------------------------------------------------*/

footer {
  background: #618498;

  .box {
    padding: 12px 30px;
    overflow: hidden;

    .logo {
      float: left;
      @include size(50px, 50px);
      margin-right: 30px;
      .svg {
        fill: rgba(0,0,0,0.4);
      }
    }

    .content-wrap {
      float: left;

      a {
        display: inline-block;
        margin-left: 20px;

        text-decoration: none;
        color: rgba(0,0,0,0.45);
        @include textStyle ($fontMain, 14px, 700);

        &:hover {
          color: rgba(0,0,0,1.0);
        }
      }

      .copyright {
        margin: 12px 0 0 20px;
        @include textStyle ($fontMain, 13px, 300);
        color: rgba(0,0,0,0.6);
      }
    }
  }
}
