/*-------------------------------------------------------
  VARs
---------------------------------------------------------*/

$bgColor: #fff;
$accent: #c99065;
$accent-light: #e1c184;
$skillColor: $accent;
$fontMain: Marvel, sans-serif;
$fontAlt: 'Shadows Into Light', sans-serif;
$fontAlt2: 'Helvetica neue', sans-serif;
